.modal-dialog {
    min-width: 80%;
}

.add-new-job-application-button-content {
    display: flex;
    justify-content: center;
}

.add-new-job-application-button {
    display: inline-grid;
}

.add-new-job-application-progress-bar {
    margin-bottom: 15px;
}

.add-new-job-application-progress-bar .progress-bar {
    color: #007bff;
    background-color: white;
    border-top: 1px solid #007bff;
    border-bottom: 1px solid #007bff;
    border-right: 1px solid #007bff;
}

.add-new-job-application-progress-bar .progress-bar.passed {
    color: white;
    background-color: #007bff;
}

.add-new-job-application-button button {
    border-radius: 25px;
}

.main-content-applied-jobs button {
    border-radius: 3px 3px 0px 0px;
}

.main-content-applied-jobs-button-badge {
    font-size: smaller;
    margin-left: 5px !important;
}

.main-content-filters {
    background: lightcoral;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .main-content-filters {
        display: block;
    }
}

.main-content-filters-search {
    margin: 10px 1px;
}

.main-content-filters-sortby-filters {
    display: flex;
    justify-content: flex-end;
}

.content-tab-button {
    width: 100%;
    margin-bottom: 0;
    position: relative;
}

.add-new-job-application-modal {
    padding: 0 3rem 1rem 3rem;
}

@media (max-width: 600px) {
    .add-new-job-application-modal {
        padding: 0 1rem 1rem 1rem;
    }
}

.job-applications-stepper-indicator {
    margin-bottom: 2rem;
}

.content-tab-button-down {
    position: absolute !important;
    right: 10px;
    top: unset !important;
}

.content-main-applications-table {
    /* border: 1px solid #50cbce; */
    border-top: 0px;
}

.job-websites-icons {
    padding: 1rem;
}

.job-websites-icons img {
    width: 40px;
    height: 40px;
    margin: 0 .5rem;
}

.job-application-date-pickers .react-datepicker-wrapper {
    width: 100%;
}

.job-application-date-pickers input {
    width: 100%;
    height: calc(2.25rem + 4px);
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    color: #66615b;
    line-height: normal;
    font-size: 14px;
}

.center-content {
    display: flex;
    justify-content: center;
}

.autofill-job-application-input {
    width: 70%;
}

@media (max-width: 600px) {
    .autofill-job-application-input {
        width: 100%;
    }
}

.bold {
    font-weight: bold;
}

.required-field:after {
    content:" *";
    color: red;
}

.ap-input-icon.ap-icon-clear {
    display: none;
}

.job-application-modal-footer {
    justify-content: space-between;
}

.apply-job-posting-link {
    margin: 0 1rem;
}

.companies-dropdown-logo {
    width: 40px;
    height: auto;
    margin-right: .5rem;
}

.logo-company-name-container {
    display: flex;
}

.job-skills-section-header {
    display: flex;
}

.job-skills-add-button {
    margin: 0;
}

.job-description-textarea {
    display: block;
    width: 100%;
    height: 8rem;
}

@media (max-width: 600px) {
    .job-description-textarea {
        border: 1px solid black;
    }
}

.job-application-description-row {
    margin-bottom: 2rem;
}

.job-skills-section-header-label {
    display: flex;
}

.information-icon {
    display: flex;
    align-items: center;
    margin-left: .5rem;
    margin-bottom: .5rem;
}

.information-icon:before {
    color: #4679a6;
}

.job-application-search-icon {
    display: flex;
    align-items: center;
    margin: 0 .5rem;
}

.job-skills-section-reactstrap-search-input {
    border: 0;
    width: 100%;
}

.job-skills-section-search-input {
    border: 1px solid #a9a2a2;
    display: flex;
    width: 100%;
}

.margin-bottom-one-rem {
    margin-bottom: 1rem;
}

.MuiChip-root.MuiChip-colorPrimary.MuiChip-deletableColorPrimary.MuiChip-deletable,
.MuiChip-root.MuiChip-colorPrimary.MuiChip-outlined.MuiChip-outlinedPrimary,
.MuiButtonBase-root.MuiChip-root.MuiChip-colorPrimary.MuiChip-clickableColorPrimary.MuiChip-sizeSmall.MuiChip-clickable {
    margin: 0 .5rem .5rem 0;
}

.job-application-contacts-company-info {
    display: flex;
}

.job-application-contacts-company-logo {
    width: 6rem;
    margin: 0 1rem 1rem 0;
}

.displayFlex {
    display: flex;
}

.company-links img {
    width: 30px;
    height: 30px;
    margin-right: .5rem;
}

.displayBlock {
    display: block;
}

.company-links-section {
    margin-bottom: .75rem;
}

.company-links-section button {
    height: 30px;
    border: 1px solid blue;
    color: blue;
    border-radius: 15px;
}

.job-application-contacts-company-info-links {
    display: flex;
    justify-content: space-between;
}

.dreamCompanyButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border-radius: 10px;
}

.dreamCompanyButton i {
    margin-right: .5rem;
}

.dreamCompanyButton .clicked:before {
    color: #ae0d0d;
}

.companyLink {
    margin-bottom: .5rem;
}

.recruiter-full-name {
    margin-bottom: .5rem;
}

.recruiter-contact-info {
    margin-top: 1.5rem;
}

.job-application-attachments-resume-title, .job-application-attachments-cover-letter-title {
    font-weight: 600;
}

.job-application-attachments-choose-recent {
    font-size: small;
}

.job-application-attachments-recent-resumes, .job-application-attachments-recent-cvs {
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 1px;
    padding: 1rem;
}

.job-application-attachaments-choose {
    display: flex;
    justify-content: space-between;
}

.job-application-attachments-choose-recent-button {
    margin: 0 .5rem;
    color: #4343e9;
    font-weight: 600;
    border: none;
}

.job-application-attachments-download-recent-button {
    width: 30px;
    background: none;
    border: none;
}

.job-application-attachments-choose-from-device-button {
    margin-top: 1rem;
    display: none;
}

.job-application-attachments-resume-label, .job-application-attachments-cv-label {
    display: block;
    margin: 0;
}

.job-application-attachments-resume-timestamp, .job-application-attachments-cv-timestamp {
    font-weight: 200;
    font-size: small;
}

.job-application-attachments-picked-resume, .job-application-attachments-picked-cv {
    display: flex;
    width: 15rem;
    border: 1px solid black;
}

.job-application-attachments-picked-resume-type, .job-application-attachments-picked-cv-type {
    width: 30%;
    display: flex;
    align-items: center;
    background: lightblue;
    justify-content: center;
    color: white;
    font-weight: 600;
}

.job-application-attachments-picked-resume-name, .job-application-attachments-picked-cv-name {
    display: flex;
    width: 70%;
    padding: .5rem 1rem; 
}

.job-application-attachments-picked-resume-delete-button, .job-application-attachments-picked-cv-delete-button {
    border: none;
    background: none;
}

.job-application-attachments-upload-resume-label {
    border: 1px solid blue;
    margin: 1rem 0;
    padding: .5rem;
    color: blue;
    font-weight: 600;
}

.job-application-attachments-upload-resume-label:hover {
    background: lightblue;
}